/* Estilos para pantallas muy grandes y notebooks */

/* Pantallas ultra anchas (1920px+) */
@media screen and (min-width: 1920px) {
  body {
    padding: 3.5rem 4rem;
    padding-bottom: 110px;
  }
  
  main {
    padding: 3.5rem;
    padding-bottom: 4rem;
  }
  
  footer {
    padding: 1.5rem 3rem;
  }
}